<img src="../img/GTK_Logo_Social Icon.jpg" width=175 align="right" />

# Worksheet 2.1:  Exploring Two Dimensional Data -  Answers
This worksheet covers concepts covered in Module 2 - Exploratory Data Analysis in Two Dimensions.  It should take no more than 20-30 minutes to complete.  Please raise your hand if you get stuck.  

There are many ways to accomplish the tasks that you are presented with, however you will find that by using the techniques covered in class, the exercises should be relatively simple. 

## Import the Libraries
For this exercise, we will be using:
* Pandas (http://pandas.pydata.org/pandas-docs/stable/)
* Numpy (https://docs.scipy.org/doc/numpy/reference/)
* Matplotlib (http://matplotlib.org/api/pyplot_api.html)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
plt.style.use('ggplot')
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Exercise 2.1: Reading various forms of JSON Data
In the `/data/` folder, you will find a series of `.json` files called `dataN.json`, numbered 1-4.  Each file contains the following data:

<table>
    <tr>
        <th></th>
        <th>birthday</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    <tr>
        <td>0</td>
        <td>5\/3\/67</td>
        <td>Robert</td>
        <td>Hernandez</td>
    </tr>
    <tr>
        <td>1</td>
        <td>8\/4\/84</td>
        <td>Steve</td>
        <td>Smith</td>
    </tr>
    <tr>
        <td>2</td>
        <td>9\/13\/91</td>
        <td>Anne</td>
        <td>Raps</td>
    </tr>    
    <tr>
        <td>3</td>
        <td>4\/15\/75</td>
        <td>Alice</td>
        <td>Muller</td>
    </tr>    
</table>

Using the `.read_json()` function and the various configuration options, read all these files into a dataframe.  The documentation is available here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html.

In [3]:
DATA_HOME = '../data/'
df1 = pd.read_json(DATA_HOME + 'data1.json')
df1

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [4]:
df2 = pd.read_json(DATA_HOME + 'data2.json', orient='index')
df2

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [5]:
df3 = pd.read_json(DATA_HOME + 'data3.json', orient='columns')
df3

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [6]:
df4 = pd.read_json(DATA_HOME + 'data4.json', orient='split')
df4

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

## Exercise 2: 
In the data file, there is a webserver file called `hackers-access.httpd`.  For this exercise, you will use this file to answer the following questions:
1.  Which browsers are the top 10 most used browsers in this data?
2.  Which are the top 10 most used operating systems?

In order to accomplish this task, do the following:
1.  Write a function which takes a User Agent string as an argument and returns the relevant data.  HINT:  You might want to use python's `user_agents` module, the documentation for which is available here: (https://pypi.python.org/pypi/user-agents)
2.  Next, apply this function to the column which contains the user agent string.
3.  Store this series as a new column in the dataframe
4.  Count the occurances of each value in the new columns

In [7]:
import apache_log_parser
from user_agents import parse
#Read in the log file
line_parser = apache_log_parser.make_parser("%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"")

server_log = open(DATA_HOME + "hackers-access.httpd", "r")
parsed_server_data = []
for line in server_log:
    data = {}
    data = line_parser(line)
    parsed_server_data.append( data )

server_df = pd.DataFrame( parsed_server_data  )

In [8]:
server_df.head()

,remote_host,remote_logname,remote_user,time_received,time_received_datetimeobj,time_received_isoformat,time_received_tz_datetimeobj,time_received_tz_isoformat,time_received_utc_datetimeobj,time_received_utc_isoformat,...,request_url_password,request_url_hostname,request_url_port,request_url_query_dict,request_url_query_list,request_url_query_simple_dict,status,response_bytes_clf,request_header_referer,request_header_user_agent
0,195.154.46.135,-,-,[25/Oct/2015:04:11:25 +0100],2015-10-25 04:11:25,2015-10-25T04:11:25,2015-10-25 04:11:25+01:00,2015-10-25T04:11:25+01:00,2015-10-25 03:11:25+00:00,2015-10-25T03:11:25+00:00,...,None,None,None,{},[],{},200,24323,http://howto.basjes.nl/,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...
1,23.95.237.180,-,-,[25/Oct/2015:04:11:26 +0100],2015-10-25 04:11:26,2015-10-25T04:11:26,2015-10-25 04:11:26+01:00,2015-10-25T04:11:26+01:00,2015-10-25 03:11:26+00:00,2015-10-25T03:11:26+00:00,...,None,None,None,{},[],{},200,11114,http://howto.basjes.nl/,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...
2,23.95.237.180,-,-,[25/Oct/2015:04:11:27 +0100],2015-10-25 04:11:27,2015-10-25T04:11:27,2015-10-25 04:11:27+01:00,2015-10-25T04:11:27+01:00,2015-10-25 03:11:27+00:00,2015-10-25T03:11:27+00:00,...,None,None,None,{},[],{},302,9093,http://howto.basjes.nl/join_form,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...
3,158.222.5.157,-,-,[25/Oct/2015:04:24:31 +0100],2015-10-25 04:24:31,2015-10-25T04:24:31,2015-10-25 04:24:31+01:00,2015-10-25T04:24:31+01:00,2015-10-25 03:24:31+00:00,2015-10-25T03:24:31+00:00,...,None,None,None,{},[],{},200,11114,http://howto.basjes.nl/,Mozilla/5.0 (Windows NT 6.3; WOW64; rv:34.0) G...
4,158.222.5.157,-,-,[25/Oct/2015:04:24:32 +0100],2015-10-25 04:24:32,2015-10-25T04:24:32,2015-10-25 04:24:32+01:00,2015-10-25T04:24:32+01:00,2015-10-25 03:24:32+00:00,2015-10-25T03:24:32+00:00,...,None,None,None,{},[],{},302,9093,http://howto.basjes.nl/join_form,Mozilla/5.0 (Windows NT 6.3; WOW64; rv:34.0) G...

In [9]:
#Write the functions
def get_os(x):
    user_agent = parse(x)
    return user_agent.os.family

def get_browser(x):
    user_agent = parse(x)
    return user_agent.browser.family

In [10]:
#Apply the functions to the dataframe
server_df['os'] = server_df['request_header_user_agent'].apply( get_os )
server_df['browser'] = server_df['request_header_user_agent'].apply( get_browser )

In [11]:
server_df.sample(5)

,remote_host,remote_logname,remote_user,time_received,time_received_datetimeobj,time_received_isoformat,time_received_tz_datetimeobj,time_received_tz_isoformat,time_received_utc_datetimeobj,time_received_utc_isoformat,...,request_url_port,request_url_query_dict,request_url_query_list,request_url_query_simple_dict,status,response_bytes_clf,request_header_referer,request_header_user_agent,os,browser
1687,190.82.115.159,-,-,[27/Oct/2015:20:30:36 +0100],2015-10-27 20:30:36,2015-10-27T20:30:36,2015-10-27 20:30:36+01:00,2015-10-27T20:30:36+01:00,2015-10-27 19:30:36+00:00,2015-10-27T19:30:36+00:00,...,None,{},[],{},302,9093,http://howto.basjes.nl/join_form,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Windows,Opera
1216,31.220.113.224,-,-,[27/Oct/2015:04:51:36 +0100],2015-10-27 04:51:36,2015-10-27T04:51:36,2015-10-27 04:51:36+01:00,2015-10-27T04:51:36+01:00,2015-10-27 03:51:36+00:00,2015-10-27T03:51:36+00:00,...,None,{'came_from': ['http://howto.basjes.nl/join_fo...,"[(came_from, http://howto.basjes.nl/join_form)]",{'came_from': 'http://howto.basjes.nl/join_form'},200,10716,http://howto.basjes.nl/join_form,Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20...,Windows,Firefox
2610,46.102.99.140,-,-,[29/Oct/2015:07:21:02 +0100],2015-10-29 07:21:02,2015-10-29T07:21:02,2015-10-29 07:21:02+01:00,2015-10-29T07:21:02+01:00,2015-10-29 06:21:02+00:00,2015-10-29T06:21:02+00:00,...,None,{},[],{},302,10098,http://niels.basj.es/join_form,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4)...,Mac OS X,Chrome
1747,162.253.53.198,-,-,[27/Oct/2015:23:35:31 +0100],2015-10-27 23:35:31,2015-10-27T23:35:31,2015-10-27 23:35:31+01:00,2015-10-27T23:35:31+01:00,2015-10-27 22:35:31+00:00,2015-10-27T22:35:31+00:00,...,None,{},[],{},200,10505,-,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,Windows,Chrome
953,180.180.113.146,-,-,[26/Oct/2015:15:57:43 +0100],2015-10-26 15:57:43,2015-10-26T15:57:43,2015-10-26 15:57:43+01:00,2015-10-26T15:57:43+01:00,2015-10-26 14:57:43+00:00,2015-10-26T14:57:43+00:00,...,None,{},[],{},200,16806,http://howto.basjes.nl/login_form,Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20...,Windows,Firefox

In [12]:
#Get the top 10 values
server_df['os'].value_counts().head(10)

Windows      3185
Linux         125
Mac OS X       80
Chrome OS      60
Ubuntu          6
Name: os, dtype: int64

In [13]:
server_df['browser'].value_counts().head(10)

Firefox    1476
Chrome      789
Opera       556
Dragon      533
IE           78
Safari       24
Name: browser, dtype: int64

# Exercise 3:
Using the `dailybots.csv` film, read the file into a DataFrame and perform the following operations:
1.  Filter the DataFrame to include bots from the Government/Politics Industry.
2.  Calculate the ratio of hosts to orgs and add this as a column to the DataFrame and output the result
3.  Calculate the total number of hosts infected by each BotFam in the Government/Politics Industry.  You should use the `groupby()` function which is documented here: (http://pandas.pydata.org/pandas-docs/stable/groupby.html)

In [14]:
bots = pd.read_csv(DATA_HOME + 'dailybots.csv')
bots.head()

         date botfam             industry  hosts  orgs
0  2016-06-01  Bedep            Education     88    33
1  2016-06-01  Bedep              Finance    387    17
2  2016-06-01  Bedep  Government/Politics    430    42
3  2016-06-01  Bedep  Healthcare/Wellness     42    19
4  2016-06-01  Bedep        Manufacturing    184    18

In [15]:
bots_df = pd.read_csv(DATA_HOME + 'dailybots.csv')

In [16]:
gov_df = bots_df[bots_df['industry'] == "Government/Politics"]

In [17]:
gov_df.head()

          date       botfam             industry  hosts  orgs
2   2016-06-01        Bedep  Government/Politics    430    42
8   2016-06-01  ConfickerAB  Government/Politics    255    38
14  2016-06-01       Necurs  Government/Politics    277    25
23  2016-06-01       PushDo  Government/Politics      8     2
28  2016-06-01       Ramnit  Government/Politics     53     6

In [18]:
gov_df['ratio'] = gov_df['hosts'] / gov_df['orgs']
gov_df.head()

<ipython-input-18-552271bf2c11>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_df['ratio'] = gov_df['hosts'] / gov_df['orgs']

          date       botfam             industry  hosts  orgs      ratio
2   2016-06-01        Bedep  Government/Politics    430    42  10.238095
8   2016-06-01  ConfickerAB  Government/Politics    255    38   6.710526
14  2016-06-01       Necurs  Government/Politics    277    25  11.080000
23  2016-06-01       PushDo  Government/Politics      8     2   4.000000
28  2016-06-01       Ramnit  Government/Politics     53     6   8.833333

In [19]:
gov_bots = bots[['botfam', 'hosts']][bots['industry'] == "Government/Politics"]

In [20]:
gov_bots['ratio'] = bots['hosts'] / bots['orgs']

In [21]:
gov_bots.sample(5)

      botfam  hosts     ratio
1447  Sality     68  9.714286
847     Zusy      6  1.500000
3608  PushDo     21  7.000000
3637    Zusy      5  1.666667
3586   Bedep     32  2.461538

In [22]:
gov_bots.groupby('botfam', as_index=False).sum()

        botfam  hosts        ratio
0        Bedep   6183   439.178237
1  ConfickerAB  28818   845.615097
2       Necurs  12425  1170.878964
3      Olmasco     83    75.500000
4       PushDo   2164  1252.500000
5       Ramnit   4484  1053.139638
6       Sality   7466   775.046134
7         Zeus    965   157.967915
8         Zusy    227   100.133333
9   zeroaccess    886   205.291270

# Exercise 4:

Read a more ```evil``` JSON ```eve_small.json```, where each line contains a nested JSON object. Derive one DataFrame, where all levels for the ```stats``` key are expanded to a top level column of that DataFrame. Easiest is to natively open the file in Python, loop over each line, use [json.loads](https://docs.python.org/3.5/library/json.html) from the json library, and then [json_normalize](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html) to expand the nested structure to top-level columns, append to a simple Python list and finally call [pd.concat](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.concat.html) on the list to get one complete DataFrame.

In [23]:
def nested_json_to_df(fname_str):
    with open(fname_str, 'r') as f:
        l = []
        for line in f:
            if not line.strip():
                continue
            else:
                d = json.loads(line)
                if 'stats' in d.keys():
                    df_tmp = pd.json_normalize(d)
                    l.append(df_tmp)       
    return pd.concat(l, ignore_index=True)

In [112]:
import json
f = open('../data/eve_small.json', 'r').readlines()
r1 = pd.json_normalize(json.loads(f[2]))
r2 = pd.json_normalize(json.loads(f[1]))
pd.concat([r1, r2], ignore_index=True)

,timestamp,event_type,stats.uptime,stats.capture.kernel_packets,stats.capture.kernel_drops,stats.decoder.pkts,stats.decoder.bytes,stats.decoder.invalid,stats.decoder.ipv4,stats.decoder.ipv6,...,stats.flow_mgr.rows_checked,stats.flow_mgr.rows_skipped,stats.flow_mgr.rows_empty,stats.flow_mgr.rows_busy,stats.flow_mgr.rows_maxlen,stats.dns.memuse,stats.dns.memcap_state,stats.dns.memcap_global,stats.http.memuse,stats.http.memcap
0,2017-04-06T18:15:34.000173+0000,stats,23,2,0,2,180,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
1,2017-04-06T18:15:27.000207+0000,stats,16,0,0,0,0,0,0,0,...,65536,65536,0,0,0,0,0,0,0,0

In [24]:
eve = nested_json_to_df(DATA_HOME + 'eve_small.json')

In [25]:
eve.head()

,timestamp,event_type,stats.uptime,stats.capture.kernel_packets,stats.capture.kernel_drops,stats.decoder.pkts,stats.decoder.bytes,stats.decoder.invalid,stats.decoder.ipv4,stats.decoder.ipv6,...,stats.flow_mgr.rows_checked,stats.flow_mgr.rows_skipped,stats.flow_mgr.rows_empty,stats.flow_mgr.rows_busy,stats.flow_mgr.rows_maxlen,stats.dns.memuse,stats.dns.memcap_state,stats.dns.memcap_global,stats.http.memuse,stats.http.memcap
0,2017-04-06T18:15:19.000142+0000,stats,8,0,0,0,0,0,0,0,...,65536,65536,0,0,0,0,0,0,0,0
1,2017-04-06T18:15:27.000207+0000,stats,16,0,0,0,0,0,0,0,...,65536,65536,0,0,0,0,0,0,0,0
2,2017-04-06T18:15:34.000173+0000,stats,23,2,0,2,180,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
3,2017-04-06T18:15:41.000203+0000,stats,30,2,0,2,180,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
4,2017-04-06T18:15:48.000097+0000,stats,37,2,0,2,180,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0

# Exercise 5
In this exercise, you will learn how to convert a PCAP file into JSON and do some basic summarization of the data.  In the `data` directory, you will find a file called `http.pcap`.  Our first step is to convert this to JSON.  To do this we have installed a python module called `pcapview` (docs available here: https://pydigger.com/pypi/pcapview) which can convert the pcap file to JSON.  

Once you've done that, your assignment is to answer the following questions:
1.  What are the most frequent source IP addresses?
2.  How many differnet source ports were accessed?

To do this you will have to load this data into a DataFrame.  Using what we've learned in class, do the following:
1.  Load the data into a DataFrame using the technique of your choice
2.  Extract the requisite columns from the DataFrame, in this case, you want the source IP and source ports
3.  Execute a `value_counts()` on those columns.

In [27]:
df1 = pd.read_json(DATA_HOME + 'http-pcap.json')

In [28]:
df1.sample(5)

,time,timestamp,IP,Ethernet,TCP,UDP,DNS
23,1.084443e+09,2004-05-13 10:17:10.956465,"{'version': 4, 'ttl': 55, 'proto': 6, 'options...","{'src': 'fe:ff:20:00:01:00', 'type': 2048, 'ds...","{'reserved': 0, 'window': 31460, 'sport': 80, ...",NaN,NaN
33,1.084443e+09,2004-05-13 10:17:11.807689,"{'version': 4, 'ttl': 47, 'proto': 6, 'options...","{'src': 'fe:ff:20:00:01:00', 'type': 2048, 'ds...","{'reserved': 0, 'window': 6432, 'flags': 16, '...",NaN,NaN
21,1.084443e+09,2004-05-13 10:17:10.806249,"{'version': 4, 'ttl': 128, 'proto': 6, 'option...","{'src': '00:00:01:00:00:00', 'type': 2048, 'ds...","{'reserved': 0, 'window': 9660, 'sport': 3372,...",NaN,NaN
39,1.084443e+09,2004-05-13 10:17:25.216971,"{'version': 4, 'ttl': 47, 'proto': 6, 'options...","{'src': 'fe:ff:20:00:01:00', 'type': 2048, 'ds...","{'reserved': 0, 'window': 6432, 'sport': 80, '...",NaN,NaN
28,1.084443e+09,2004-05-13 10:17:11.417128,"{'version': 4, 'ttl': 47, 'proto': 6, 'options...","{'src': 'fe:ff:20:00:01:00', 'type': 2048, 'ds...","{'reserved': 0, 'window': 6432, 'flags': 24, '...",NaN,NaN

In [26]:
#Load the data
with open(DATA_HOME + 'http-pcap.json') as data_file:    
    pcap_data = json.load(data_file)

#Normalize it and load it into a DataFrame
df = pd.DataFrame( pd.json_normalize(pcap_data) )

#View the results
df.head()

,time,timestamp,IP.version,IP.ttl,IP.proto,IP.options,IP.len,IP.dst,IP.frag,IP.flags,...,DNS.opcode,DNS.rcode,DNS.ra,DNS.id,DNS.cd,DNS.an.rrname,DNS.an.rclass,DNS.an.type,DNS.an.ttl,DNS.an.rdata
0,1.084443e+09,2004-05-13T10:17:07.311224,4,128,6,[],48,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.084443e+09,2004-05-13T10:17:08.222534,4,47,6,[],48,145.254.160.237,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.084443e+09,2004-05-13T10:17:08.222534,4,128,6,[],40,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.084443e+09,2004-05-13T10:17:08.222534,4,128,6,[],519,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.084443e+09,2004-05-13T10:17:08.783340,4,47,6,[],40,145.254.160.237,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#Extract the source port and count the unique values
df['TCP.sport'].value_counts(dropna=False)

80.0      22
3372.0    16
3371.0     3
NaN        2
Name: TCP.sport, dtype: int64

In [30]:
#Extract the source IP and count the unique values
df['IP.src'].value_counts(dropna=False)

145.254.160.237    20
65.208.228.223     18
216.239.59.99       4
145.253.2.203       1
Name: IP.src, dtype: int64

In [98]:
stacked = df[['IP.src', 'IP.dst', 'TCP.sport', 'TCP.dport']].groupby(["IP.src", 'IP.dst', 'TCP.sport', 'TCP.dport'])['TCP.dport'].count()
stacked.head()

IP.src           IP.dst           TCP.sport  TCP.dport
145.254.160.237  216.239.59.99    3371.0     80.0          3
                 65.208.228.223   3372.0     80.0         16
216.239.59.99    145.254.160.237  80.0       3371.0        4
65.208.228.223   145.254.160.237  80.0       3372.0       18
Name: TCP.dport, dtype: int64

In [100]:
stacked.unstack()

TCP.dport                                  80.0    3371.0  3372.0
IP.src          IP.dst          TCP.sport
145.254.160.237 216.239.59.99   3371.0        3.0     NaN     NaN
                65.208.228.223  3372.0       16.0     NaN     NaN
216.239.59.99   145.254.160.237 80.0          NaN     4.0     NaN
65.208.228.223  145.254.160.237 80.0          NaN     NaN    18.0